{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="text-center">
        <div style="padding-top: 20px;">
            <img src="{% static 'img/logo.png' %}" width="50" height="50"> Marmitaria da casa
            <h2 class="text-center" >~ Cadastro de Usuário ~</h2>
        </div>
    </div>
    <div class="mx-auto bg-light">
        <div class="text-align">
            <form action="submit" method="POST">{% csrf_token %}
                <div>
                    <div class="form-group col-12">
                        {{ form.as_p }}		  		
                        <div class="row mx-md-n5">
                            <div class="col py-3 px-md-5">
                                <button type="submit" class="btn btn-secondary btn-block">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="padding-left: 430px;">
        {% for message in messages %}
            <strong style="color:red">{{ message }}</strong>
        {% endfor %}
    </div>
</div>
{% endblock %}